.login_sns {
  display: flex;
  justify-content: center;
}

.login_fb {
  border: 1px solid black;
  margin: 5px;
  padding: 2px;
  background-color: #0066CC;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.login_google {
  border: 1px solid black;
  margin: 5px;
  padding: 2px;
  background-color: #111111;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}